.dropdown {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 390px;
}

.dropdown .type-a-question-5 {
  align-self: stretch;
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  margin-top: -1px;
  position: relative;
}

.dropdown .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.dropdown .frame-5 {
  align-items: center;
  align-self: stretch;
  background-color: #efefef;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 4px;
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: 0px 15px;
  position: relative;
  width: 100%;
}

.dropdown .text-wrapper-7 {
  color: var(--input-color);
  flex: 1;
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  font-style: var(--input-font-style);
  font-weight: var(--input-font-weight);
  letter-spacing: var(--input-letter-spacing);
  line-height: var(--input-line-height);
  position: relative;
}

.dropdown .img {
  height: 7px;
  left: 365px;
  position: absolute;
  top: 17px;
  width: 11px;
}
