.property-default {
  height: 209px;
  overflow: hidden;
  width: 1920px;
}

.property-default .logos {
  height: 209px;
  left: -100px;
  position: relative;
  width: 7546px;
}

.property-default .element {
  height: 132px;
  left: 1749px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 132px;
}

.property-default .vipaconnect {
  height: 196px;
  left: 3716px;
  object-fit: cover;
  position: absolute;
  top: 1794px;
  width: 139px;
}

.property-default .group {
  height: 126px;
  left: 3940px;
  position: absolute;
  top: 1829px;
  width: 187px;
}

.property-default .foto-perfil-e-capa {
  height: 209px;
  left: 4405px;
  object-fit: cover;
  position: absolute;
  top: 1787px;
  width: 209px;
}

.property-default .img {
  height: 145px;
  left: 4699px;
  position: absolute;
  top: 1820px;
  width: 263px;
}

.property-default .logo-vipa-prancheta {
  height: 170px;
  left: 1966px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 54px;
}

.property-default .logopresspower {
  height: 140px;
  left: 5047px;
  object-fit: cover;
  position: absolute;
  top: 1822px;
  width: 220px;
}

.property-default .LOGO-ERA-mondego {
  height: 159px;
  left: 914px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 154px;
}

.property-default .revimo-horizontal {
  height: 62px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 198px;
}

.property-default .logo {
  height: 38px;
  left: 1153px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 288px;
}

.property-default .CREDISEGUR-cores {
  height: 117px;
  left: 373px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 173px;
}

.property-default .logo-new {
  height: 45px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 188px;
}

.property-default .camada {
  height: 80px;
  left: 5570px;
  position: absolute;
  top: 1852px;
  width: 191px;
}

.property-default .camada-2 {
  height: 179px;
  left: 5352px;
  position: absolute;
  top: 1803px;
  width: 133px;
}

.property-default .sem-t-tulo {
  height: 138px;
  left: 1526px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 138px;
}

.property-default .frame {
  height: 176px;
  left: 4212px;
  position: absolute;
  top: 1804px;
  width: 108px;
}

.property-default .element-2 {
  height: 132px;
  left: 7595px;
  object-fit: cover;
  position: absolute;
  top: 1826px;
  width: 132px;
}

.property-default .vipaconnect-2 {
  height: 196px;
  left: 8051px;
  object-fit: cover;
  position: absolute;
  top: 1794px;
  width: 139px;
}

.property-default .group-2 {
  height: 126px;
  left: 8275px;
  position: absolute;
  top: 1829px;
  width: 187px;
}

.property-default .foto-perfil-e-capa-2 {
  height: 209px;
  left: 8740px;
  object-fit: cover;
  position: absolute;
  top: 1787px;
  width: 209px;
}

.property-default .group-3 {
  height: 145px;
  left: 9034px;
  position: absolute;
  top: 1820px;
  width: 263px;
}

.property-default .logo-vipa-prancheta-2 {
  height: 170px;
  left: 7812px;
  object-fit: cover;
  position: absolute;
  top: 1807px;
  width: 154px;
}

.property-default .logopresspower-2 {
  height: 140px;
  left: 9382px;
  object-fit: cover;
  position: absolute;
  top: 1822px;
  width: 220px;
}

.property-default .LOGO-ERA-mondego-2 {
  height: 159px;
  left: 6760px;
  object-fit: cover;
  position: absolute;
  top: 1812px;
  width: 154px;
}

.property-default .revimo-horizontal-2 {
  height: 62px;
  left: 6477px;
  object-fit: cover;
  position: absolute;
  top: 1861px;
  width: 198px;
}

.property-default .logo-2 {
  height: 38px;
  left: 6999px;
  object-fit: cover;
  position: absolute;
  top: 1873px;
  width: 288px;
}

.property-default .CREDISEGUR-cores-2 {
  height: 117px;
  left: 6219px;
  object-fit: cover;
  position: absolute;
  top: 1833px;
  width: 173px;
}

.property-default .logo-new-2 {
  height: 45px;
  left: 5846px;
  object-fit: cover;
  position: absolute;
  top: 1869px;
  width: 288px;
}

.property-default .camada-3 {
  height: 80px;
  left: 9905px;
  position: absolute;
  top: 1852px;
  width: 191px;
}

.property-default .camada-4 {
  height: 179px;
  left: 9687px;
  position: absolute;
  top: 1803px;
  width: 133px;
}

.property-default .sem-t-tulo-2 {
  height: 138px;
  left: 7372px;
  object-fit: cover;
  position: absolute;
  top: 1823px;
  width: 138px;
}

.property-default .frame-2 {
  height: 176px;
  left: 8547px;
  position: absolute;
  top: 1804px;
  width: 108px;
}
