.property-default-wrapper {
  height: 209px;
  overflow: hidden;
  width: 1920px;
}

.property-default-wrapper .div {
  height: 209px;
  left: -4436px;
  position: relative;
  width: 7546px;
}

.property-default-wrapper .element-3 {
  height: 132px;
  left: 7596px;
  object-fit: cover;
  position: absolute;
  top: 1506px;
  width: 132px;
}

.property-default-wrapper .vipaconnect-3 {
  height: 196px;
  left: 8052px;
  object-fit: cover;
  position: absolute;
  top: 1474px;
  width: 139px;
}

.property-default-wrapper .group-4 {
  height: 126px;
  left: 8276px;
  position: absolute;
  top: 1509px;
  width: 187px;
}

.property-default-wrapper .foto-perfil-e-capa-3 {
  height: 209px;
  left: 8741px;
  object-fit: cover;
  position: absolute;
  top: 1467px;
  width: 209px;
}

.property-default-wrapper .group-5 {
  height: 145px;
  left: 9035px;
  position: absolute;
  top: 1500px;
  width: 263px;
}

.property-default-wrapper .logo-vipa-prancheta-3 {
  height: 170px;
  left: 7813px;
  object-fit: cover;
  position: absolute;
  top: 1487px;
  width: 154px;
}

.property-default-wrapper .logopresspower-3 {
  height: 140px;
  left: 9383px;
  object-fit: cover;
  position: absolute;
  top: 1502px;
  width: 220px;
}

.property-default-wrapper .LOGO-ERA-mondego-3 {
  height: 159px;
  left: 6761px;
  object-fit: cover;
  position: absolute;
  top: 1492px;
  width: 154px;
}

.property-default-wrapper .revimo-horizontal-3 {
  height: 62px;
  left: 6478px;
  object-fit: cover;
  position: absolute;
  top: 1541px;
  width: 198px;
}

.property-default-wrapper .logo-3 {
  height: 38px;
  left: 7000px;
  object-fit: cover;
  position: absolute;
  top: 1553px;
  width: 288px;
}

.property-default-wrapper .CREDISEGUR-cores-3 {
  height: 117px;
  left: 6220px;
  object-fit: cover;
  position: absolute;
  top: 1513px;
  width: 173px;
}

.property-default-wrapper .logo-new-3 {
  height: 45px;
  left: 5847px;
  object-fit: cover;
  position: absolute;
  top: 1549px;
  width: 288px;
}

.property-default-wrapper .camada-5 {
  height: 80px;
  left: 9906px;
  position: absolute;
  top: 1532px;
  width: 191px;
}

.property-default-wrapper .camada-6 {
  height: 179px;
  left: 9688px;
  position: absolute;
  top: 1483px;
  width: 133px;
}

.property-default-wrapper .sem-t-tulo-3 {
  height: 138px;
  left: 7373px;
  object-fit: cover;
  position: absolute;
  top: 1503px;
  width: 138px;
}

.property-default-wrapper .frame-3 {
  height: 176px;
  left: 8548px;
  position: absolute;
  top: 1484px;
  width: 108px;
}

.property-default-wrapper .element-4 {
  height: 132px;
  left: 6084px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 132px;
}

.property-default-wrapper .vipaconnect-4 {
  height: 196px;
  left: 12387px;
  object-fit: cover;
  position: absolute;
  top: 1474px;
  width: 139px;
}

.property-default-wrapper .group-6 {
  height: 126px;
  left: 12611px;
  position: absolute;
  top: 1509px;
  width: 187px;
}

.property-default-wrapper .foto-perfil-e-capa-4 {
  height: 209px;
  left: 13076px;
  object-fit: cover;
  position: absolute;
  top: 1467px;
  width: 209px;
}

.property-default-wrapper .group-7 {
  height: 145px;
  left: 13370px;
  position: absolute;
  top: 1500px;
  width: 263px;
}

.property-default-wrapper .logo-vipa-prancheta-4 {
  height: 170px;
  left: 6301px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 55px;
}

.property-default-wrapper .logopresspower-4 {
  height: 140px;
  left: 13718px;
  object-fit: cover;
  position: absolute;
  top: 1502px;
  width: 220px;
}

.property-default-wrapper .LOGO-ERA-mondego-4 {
  height: 159px;
  left: 5249px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 154px;
}

.property-default-wrapper .revimo-horizontal-4 {
  height: 62px;
  left: 4966px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 198px;
}

.property-default-wrapper .logo-4 {
  height: 38px;
  left: 5488px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 288px;
}

.property-default-wrapper .CREDISEGUR-cores-4 {
  height: 117px;
  left: 4708px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 173px;
}

.property-default-wrapper .logo-new-4 {
  height: 45px;
  left: 4436px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 187px;
}

.property-default-wrapper .camada-7 {
  height: 80px;
  left: 14241px;
  position: absolute;
  top: 1532px;
  width: 191px;
}

.property-default-wrapper .camada-8 {
  height: 179px;
  left: 14023px;
  position: absolute;
  top: 1483px;
  width: 133px;
}

.property-default-wrapper .sem-t-tulo-4 {
  height: 138px;
  left: 5861px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 138px;
}

.property-default-wrapper .frame-4 {
  height: 176px;
  left: 12883px;
  position: absolute;
  top: 1484px;
  width: 108px;
}
