.home-page {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div-2 {
  background-color: #191919;
  height: 843.75px;
  position: relative;
  width: 1500px;
}

.home-page .overlap {
  background-color: #191919;
  height: 5742px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1500px;
}

.home-page .overlap-2 {
  height: 1013px;
  left: 45px;
  position: absolute;
  top: 4722px;
  width: 1401px;
}

.home-page .last-section {
  height: 123px;
  left: 0;
  position: absolute;
  top: 889px;
  width: 1401px;
}

.home-page .group {
  height: 109px;
  left: 16px;
  position: relative;
  width: 1373px;
}

.home-page .logo {
  height: 109px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 106px;
}

.home-page .dinarte-vieira {
  color: #ffffff;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 60.2px;
  font-weight: 400;
  height: 72px;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 19px;
  white-space: nowrap;
  width: 385px;
}

.home-page .span {
  color: #ffffff;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 60.2px;
  font-weight: 400;
  letter-spacing: 0;
}

.home-page .text-wrapper-15 {
  font-family: "Futura Bk BT-Regular", Helvetica;
}

.home-page .p {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 21.9px;
  font-weight: 500;
  left: 946px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
  white-space: nowrap;
}

.home-page .element-section {
  height: 916px;
  left: 95px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1218px;
}

.home-page .group-2 {
  height: 99px;
  left: 45px;
  position: absolute;
  top: 437px;
  width: 271px;
}

.home-page .text-wrapper-16 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 50px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home-page .text-wrapper-17 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 31.2px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 68px;
  white-space: nowrap;
}

.home-page .group-3 {
  height: 99px;
  left: 45px;
  position: absolute;
  top: 568px;
  width: 441px;
}

.home-page .group-4 {
  height: 99px;
  left: 45px;
  position: absolute;
  top: 698px;
  width: 239px;
}

.home-page .overlap-group-2 {
  height: 274px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 482px;
}

.home-page .ready-to-chat {
  color: #e2e2e2;
  font-family: "Futura Bk BT-Regular", Helvetica;
  font-size: 107.8px;
  font-weight: 400;
  height: 272px;
  left: 5px;
  letter-spacing: 0;
  line-height: 106.5px;
  position: absolute;
  top: 0;
  width: 477px;
}

.home-page .text-wrapper-18 {
  color: #e2e2e2;
  font-family: "Futura Bk BT-Regular", Helvetica;
  font-size: 107.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 106.5px;
}

.home-page .text-wrapper-19 {
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 143px;
  line-height: 141.3px;
}

.home-page .vector-2 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 267px;
  width: 454px;
}

.home-page .text-wrapper-20 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.5px;
  font-weight: 400;
  height: 38px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 337px;
  width: 283px;
}

.home-page .overlap-3 {
  height: 929px;
  left: 634px;
  position: absolute;
  top: -9px;
  width: 584px;
}

.home-page .form-page {
  align-items: center;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  gap: 24.3px;
  left: 0;
  padding: 48.61px 24.3px 24.3px;
  position: absolute;
  top: 0;
  width: 584px;
}

.home-page .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #191919;
  box-shadow: 0px 1.22px 4.86px #00000029;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24.3px;
  max-width: 850.65px;
  padding: 24.3px;
  position: relative;
  width: 100%;
}

.home-page .design-component-instance-node {
  flex: 0 0 auto !important;
  gap: 12.15px !important;
  width: 473.93px !important;
}

.home-page .design-component-instance-node-2 {
  font-family: "Spartan", Helvetica !important;
  font-size: 17px !important;
  font-style: unset !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  margin-top: -1.22px !important;
}

.home-page .design-component-instance-node-3 {
  background-color: #e2e2e2 !important;
  border: 1.22px solid !important;
  border-radius: 4.86px !important;
  height: 48.61px !important;
  padding: 0px 18.23px !important;
}

.home-page .design-component-instance-node-4 {
  font-family: "Spartan", Helvetica !important;
  font-size: 17px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.home-page .design-component-instance-node-5 {
  font-family: "Spartan", Helvetica !important;
  font-size: 14.6px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.home-page .paragraph-instance {
  background-color: #e2e2e2 !important;
  border: 1.22px solid !important;
  border-radius: 4.86px !important;
  height: 145.83px !important;
  padding: 18.23px !important;
}

.home-page .paragraph-2 {
  font-family: "Spartan", Helvetica !important;
  font-size: 17px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  margin-top: -1.22px !important;
}

.home-page .dropdown-instance {
  height: 9px !important;
  left: 444px !important;
  top: 21px !important;
  width: 13px !important;
}

.home-page .submit-button-instance {
  border-radius: 9.72px !important;
  height: 48.61px !important;
  padding: 9.72px 24.3px !important;
}

.home-page .submit-button-2 {
  font-size: 17px !important;
}

.home-page .rectangle {
  border: 11.72px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 179, 55), rgb(255, 255, 51) 48.44%, rgba(25, 25, 25, 0) 83.75%) 1;
  height: 880px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 572px;
}

.home-page .overlap-4 {
  height: 3041px;
  left: 0;
  position: absolute;
  top: 1681px;
  width: 1500px;
}

.home-page .element-th-section {
  height: 977px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 2063px;
  width: 1500px;
}

.home-page .text-wrapper-21 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.5px;
  font-weight: 400;
  height: 38px;
  left: 1166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 236px;
}

.home-page .vector-3 {
  height: 9px;
  left: 604px;
  position: absolute;
  top: 167px;
  width: 798px;
}

.home-page .text-wrapper-22 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.4px;
  font-weight: 400;
  height: 68px;
  left: 305px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 91px;
  white-space: nowrap;
}

.home-page .slide-noticias {
  height: 666px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 267px;
  width: 1500px;
}

.home-page .div-3 {
  height: 625px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4095px;
}

.home-page .group-5 {
  height: 625px;
  left: 151px;
  position: relative;
  width: 3740px;
}

.home-page .component-wrapper {
  border-radius: 48.69px;
  height: 625px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 662px;
}

.home-page .component {
  border-radius: 48.69px;
  height: 625px;
  overflow: hidden;
  position: relative;
}

.home-page .rectangle-2 {
  height: 634px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 672px;
}

.home-page .frame-7 {
  border-radius: 48.69px;
  height: 625px;
  left: 769px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 662px;
}

.home-page .rectangle-3 {
  height: 636px;
  left: -6px;
  position: absolute;
  top: -5px;
  width: 674px;
}

.home-page .frame-8 {
  border-radius: 48.69px;
  height: 625px;
  left: 1539px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 662px;
}

.home-page .rectangle-4 {
  height: 637px;
  left: -7px;
  position: absolute;
  top: -6px;
  width: 676px;
}

.home-page .frame-9 {
  border-radius: 48.69px;
  height: 625px;
  left: 2308px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 662px;
}

.home-page .rectangle-5 {
  height: 631px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 669px;
}

.home-page .frame-10 {
  border-radius: 48.69px;
  height: 625px;
  left: 3078px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 662px;
}

.home-page .rectangle-6 {
  height: 636px;
  left: -6px;
  position: absolute;
  top: -6px;
  width: 675px;
}

.home-page .right {
  background-color: #191919;
  border-radius: 38.44px;
  box-shadow: 0px 5.12px 8.33px #e2e2e2;
  height: 77px;
  left: 779px;
  position: absolute;
  top: 236px;
  transform: rotate(180deg);
  width: 77px;
}

.home-page .arrow {
  height: 1px;
  left: 28px;
  position: absolute;
  top: 38px;
  transform: rotate(-180deg);
  width: 3px;
}

.home-page .dots {
  height: 14px;
  left: 413px;
  position: absolute;
  top: 653px;
  width: 137px;
}

.home-page .ellipse {
  background-color: #ffff33;
  border-radius: 7.05px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 7.05px;
  height: 14px;
  left: 31px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-3 {
  background-color: #d9d9d9;
  border-radius: 7.05px;
  height: 14px;
  left: 62px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-4 {
  background-color: #d9d9d9;
  border-radius: 7.05px;
  height: 14px;
  left: 92px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-5 {
  background-color: #d9d9d9;
  border-radius: 7.05px;
  height: 14px;
  left: 123px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .element-section-2 {
  height: 1321px;
  left: 43px;
  overflow: hidden;
  position: absolute;
  top: 798px;
  width: 1414px;
}

.home-page .text-wrapper-23 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.5px;
  font-weight: 400;
  height: 38px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 141px;
  width: 354px;
}

.home-page .overlap-5 {
  height: 70px;
  left: 52px;
  position: absolute;
  top: 52px;
  width: 1012px;
}

.home-page .layer {
  height: 6px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 1012px;
}

.home-page .text-wrapper-24 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.4px;
  font-weight: 400;
  height: 68px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page .overlap-6 {
  height: 973px;
  left: 0;
  position: absolute;
  top: 251px;
  width: 1414px;
}

.home-page .overlap-7 {
  height: 768px;
  left: 0;
  position: absolute;
  top: 205px;
  width: 1414px;
}

.home-page .image {
  height: 539px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 221px;
  width: 859px;
}

.home-page .overlap-wrapper {
  height: 509px;
  left: 806px;
  overflow: hidden;
  position: absolute;
  top: 259px;
  width: 573px;
}

.home-page .overlap-8 {
  height: 509px;
  position: relative;
  width: 577px;
}

.home-page .vector-4 {
  height: 491px;
  left: 72px;
  position: absolute;
  top: 9px;
  width: 348px;
}

.home-page .overlap-group-wrapper {
  height: 509px;
  left: 0;
  position: absolute;
  top: 0;
  width: 577px;
}

.home-page .overlap-group-3 {
  height: 509px;
  position: relative;
}

.home-page .rectangle-7 {
  height: 296px;
  left: 49px;
  position: absolute;
  top: 9px;
  width: 528px;
}

.home-page .rectangle-8 {
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 314px;
}

.home-page .rectangle-9 {
  height: 101px;
  left: 79px;
  position: absolute;
  top: 151px;
  width: 180px;
}

.home-page .rectangle-10 {
  height: 145px;
  left: 31px;
  position: absolute;
  top: 241px;
  width: 258px;
}

.home-page .rectangle-11 {
  height: 126px;
  left: 5px;
  position: absolute;
  top: 383px;
  width: 225px;
}

.home-page .rectangle-12 {
  height: 126px;
  left: 107px;
  position: absolute;
  top: 379px;
  width: 225px;
}

.home-page .rectangle-13 {
  height: 126px;
  left: 243px;
  position: absolute;
  top: 380px;
  width: 225px;
}

.home-page .rectangle-14 {
  height: 120px;
  left: 227px;
  position: absolute;
  top: 270px;
  width: 213px;
}

.home-page .rectangle-15 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 352px;
  left: 805px;
  position: absolute;
  top: 338px;
  transform: rotate(-90deg);
  width: 491px;
}

.home-page .rectangle-16 {
  background-color: #ffffff;
  height: 167px;
  left: 1085px;
  position: absolute;
  top: 430px;
  transform: rotate(-90deg);
  width: 491px;
}

.home-page .rectangle-17 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 167px;
  left: 1084px;
  position: absolute;
  top: 430px;
  transform: rotate(-90deg);
  width: 492px;
}

.home-page .group-wrapper {
  height: 407px;
  left: 1274px;
  overflow: hidden;
  position: absolute;
  top: 310px;
  width: 113px;
}

.home-page .layer-wrapper {
  height: 407px;
}

.home-page .layer-2 {
  height: 407px;
  position: relative;
  width: 113px;
}

.home-page .group-6 {
  height: 106px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 89px;
}

.home-page .group-7 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 89px;
}

.home-page .overlap-9 {
  height: 73px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 81px;
}

.home-page .vector-5 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 81px;
}

.home-page .vector-6 {
  height: 19px;
  left: 12px;
  position: absolute;
  top: 47px;
  width: 56px;
}

.home-page .group-8 {
  height: 62px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 58px;
}

.home-page .overlap-10 {
  height: 62px;
  position: relative;
}

.home-page .group-9 {
  height: 3px;
  left: 8px;
  position: absolute;
  top: 59px;
  width: 27px;
}

.home-page .group-10 {
  height: 62px;
  left: 0;
  position: absolute;
  top: 0;
  width: 58px;
}

.home-page .group-11 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 29px;
}

.home-page .overlap-group-4 {
  height: 30px;
  position: relative;
}

.home-page .clip-path-group {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.home-page .group-12 {
  height: 23px;
  left: 6px;
  position: absolute;
  top: 3px;
  width: 21px;
}

.home-page .img-wrapper {
  background-image: url(../../../static/img/rectangle-6.png);
  background-size: 100% 100%;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.home-page .group-13 {
  height: 17px;
  left: 11px;
  mix-blend-mode: screen;
  position: absolute;
  top: 12px;
  width: 17px;
}

.home-page .group-14 {
  height: 17px;
  left: 9px;
  mix-blend-mode: screen;
  position: absolute;
  top: 9px;
  width: 17px;
}

.home-page .group-15 {
  height: 60px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 23px;
}

.home-page .overlap-group-5 {
  height: 60px;
  position: relative;
}

.home-page .group-16 {
  height: 34px;
  left: 1px;
  position: absolute;
  top: 11px;
  width: 16px;
}

.home-page .group-17 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.home-page .rectangle-18 {
  height: 60px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 15px;
}

.home-page .rectangle-19 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
}

.home-page .group-18 {
  height: 45px;
  left: 15px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.home-page .group-19 {
  height: 19px;
  left: 3px;
  mix-blend-mode: screen;
  position: absolute;
  top: 38px;
  width: 11px;
}

.home-page .group-20 {
  height: 28px;
  left: 5px;
  mix-blend-mode: screen;
  position: absolute;
  top: 28px;
  width: 12px;
}

.home-page .group-21 {
  height: 34px;
  left: 19px;
  position: absolute;
  top: 25px;
  width: 12px;
}

.home-page .overlap-group-6 {
  height: 34px;
  position: relative;
}

.home-page .group-22 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 4px;
}

.home-page .group-23 {
  height: 34px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 11px;
}

.home-page .rectangle-20 {
  height: 34px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 9px;
}

.home-page .rectangle-21 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.home-page .group-24 {
  height: 25px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 8px;
}

.home-page .group-25 {
  height: 16px;
  left: 3px;
  mix-blend-mode: screen;
  position: absolute;
  top: 13px;
  width: 6px;
}

.home-page .group-26 {
  height: 47px;
  left: 5px;
  position: absolute;
  top: 13px;
  width: 25px;
}

.home-page .overlap-11 {
  height: 47px;
  position: relative;
}

.home-page .group-27 {
  height: 36px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.home-page .group-28 {
  background-image: url(../../../static/img/rectangle-1.png);
  background-size: 100% 100%;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.home-page .group-29 {
  height: 26px;
  left: 8px;
  mix-blend-mode: screen;
  position: absolute;
  top: 19px;
  width: 16px;
}

.home-page .group-30 {
  height: 26px;
  left: 7px;
  mix-blend-mode: screen;
  position: absolute;
  top: 14px;
  width: 15px;
}

.home-page .group-31 {
  height: 21px;
  left: 18px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 41px;
  width: 28px;
}

.home-page .group-32 {
  height: 32px;
  left: 19px;
  position: absolute;
  top: 29px;
  width: 39px;
}

.home-page .overlap-group-7 {
  height: 32px;
  position: relative;
}

.home-page .rectangle-22 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.home-page .group-33 {
  height: 25px;
  left: 6px;
  position: absolute;
  top: 2px;
  width: 26px;
}

.home-page .group-34 {
  height: 16px;
  left: 9px;
  mix-blend-mode: screen;
  position: absolute;
  top: 15px;
  width: 18px;
}

.home-page .clip-path-group-2 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 38px;
}

.home-page .group-35 {
  height: 115px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 113px;
}

.home-page .group-36 {
  height: 64px;
  left: 10px;
  position: absolute;
  top: 343px;
  width: 96px;
}

.home-page .rectangle-23 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 539px;
  left: 0;
  position: absolute;
  top: 221px;
  width: 859px;
}

.home-page .posts-IVBAM {
  height: 230px;
  left: 1135px;
  position: absolute;
  top: 5px;
  width: 275px;
}

.home-page .IVBAM-posts-normais {
  height: 114px;
  left: 183px;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 92px;
}

.home-page .IVBAM-posts-normais-2 {
  height: 115px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 92px;
}

.home-page .IVBAM-posts-normais-3 {
  height: 115px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 92px;
}

.home-page .IVBAM-posts-normais-4 {
  height: 115px;
  left: 183px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 92px;
}

.home-page .IVBAM-posts-normais-5 {
  height: 114px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 92px;
}

.home-page .IVBAM-posts-normais-6 {
  height: 114px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 92px;
}

.home-page .rectangle-24 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 283px;
  left: 1152px;
  position: absolute;
  top: -21px;
  transform: rotate(-90deg);
  width: 241px;
}

.home-page .overlap-12 {
  height: 445px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1409px;
}

.home-page .image-2 {
  height: 409px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 616px;
}

.home-page .herbalife {
  height: 403px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 224px;
}

.home-page .rectangle-25 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 230px;
  left: 539px;
  position: absolute;
  top: 89px;
  transform: rotate(-90deg);
  width: 409px;
}

.home-page .rectangle-26 {
  background-color: #ffffff;
  height: 180px;
  left: 875px;
  position: absolute;
  top: 0;
  width: 534px;
}

.home-page .lonas-ERA {
  height: 168px;
  left: 881px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 521px;
}

.home-page .rectangle-27 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 180px;
  left: 875px;
  position: absolute;
  top: 0;
  width: 534px;
}

.home-page .anuncios-financestar {
  height: 228px;
  left: 881px;
  position: absolute;
  top: 211px;
  width: 229px;
}

.home-page .overlap-13 {
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  width: 114px;
}

.home-page .anncio {
  height: 114px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 114px;
}

.home-page .img-2 {
  height: 114px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 114px;
}

.home-page .overlap-14 {
  height: 227px;
  left: 114px;
  position: absolute;
  top: 0;
  width: 114px;
}

.home-page .rectangle-28 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 241px;
  left: 875px;
  position: absolute;
  top: 205px;
  transform: rotate(-90deg);
  width: 241px;
}

.home-page .rectangle-29 {
  border: 7.03px solid;
  border-color: #e2e2e2;
  height: 409px;
  left: 0;
  position: absolute;
  top: 0;
  width: 616px;
}

.home-page .vector-7 {
  height: 6px;
  left: 54px;
  position: absolute;
  top: 123px;
  width: 509px;
}

.home-page .element-rd-section {
  height: 832px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1500px;
}

.home-page .overlap-15 {
  height: 748px;
  position: relative;
  top: 20px;
}

.home-page .text-wrapper-25 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.4px;
  font-weight: 400;
  height: 106px;
  left: 285px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1160px;
}

.home-page .text-wrapper-26 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.5px;
  font-weight: 400;
  height: 38px;
  left: 1170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 98px;
  width: 256px;
}

.home-page .layer-3 {
  height: 5px;
  left: 589px;
  position: absolute;
  top: 69px;
  width: 817px;
}

.home-page .servios-wrapper {
  height: 627px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 121px;
  width: 1500px;
}

.home-page .servios {
  height: 522px;
  left: 66px;
  overflow: hidden;
  position: relative;
  top: 78px;
  width: 3036px;
}

.home-page .social-media {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.4px;
  font-weight: 500;
  height: 142px;
  left: 83px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 164px;
}

.home-page .text-wrapper-27 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  text-align: center;
  top: 352px;
  width: 336px;
}

.home-page .text-wrapper-28 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.4px;
  font-weight: 500;
  height: 71px;
  left: 491px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 199px;
  white-space: nowrap;
}

.home-page .ignite-your-brand-s {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 416px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  text-align: center;
  top: 352px;
  width: 336px;
}

.home-page .amplify-your-brand-s {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 2682px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 352px;
  width: 278px;
}

.home-page .public-relations {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 73.4px;
  font-weight: 500;
  height: 176px;
  left: 2662px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 317px;
}

.home-page .text-wrapper-29 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.4px;
  font-weight: 500;
  height: 71px;
  left: 1846px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 199px;
  white-space: nowrap;
}

.home-page .text-wrapper-30 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 1736px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  text-align: center;
  top: 352px;
  width: 336px;
}

.home-page .google-meta-ads {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.4px;
  font-weight: 500;
  height: 142px;
  left: 833px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 164px;
  width: 378px;
}

.home-page .text-wrapper-31 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 854px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  text-align: center;
  top: 352px;
  width: 336px;
}

.home-page .text-wrapper-32 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 1314px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 352px;
  width: 319px;
}

.home-page .text-wrapper-33 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 73.4px;
  font-weight: 500;
  height: 176px;
  left: 1291px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 364px;
}

.home-page .text-wrapper-34 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 2218px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 352px;
  width: 298px;
}

.home-page .text-wrapper-35 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 73.4px;
  font-weight: 500;
  height: 88px;
  left: 2152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 191px;
  width: 430px;
}

.home-page .icons {
  height: 119px;
  left: 108px;
  position: absolute;
  top: 0;
  width: 2772px;
}

.home-page .online-advertising {
  height: 118px;
  left: 855px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 118px;
}

.home-page .seo {
  height: 118px;
  left: 1737px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 119px;
}

.home-page .social-media-2 {
  height: 118px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 118px;
}

.home-page .web-design {
  height: 119px;
  left: 418px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 118px;
}

.home-page .copywriter {
  height: 119px;
  left: 2200px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 119px;
}

.home-page .email-marketing {
  height: 119px;
  left: 1307px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 118px;
}

.home-page .handshake {
  height: 118px;
  left: 2654px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 118px;
}

.home-page .element-nd-section {
  height: 841px;
  left: 69px;
  position: absolute;
  top: 795px;
  width: 1394px;
}

.home-page .overlap-16 {
  height: 712px;
  left: 44px;
  position: absolute;
  top: 0;
  width: 920px;
}

.home-page .overlap-17 {
  height: 650px;
  left: 0;
  position: absolute;
  top: 0;
  width: 920px;
}

.home-page .overlap-18 {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 723px;
}

.home-page .identify-with-me {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.4px;
  font-weight: 400;
  height: 191px;
  left: 0;
  letter-spacing: 0;
  line-height: 59.4px;
  position: absolute;
  top: 0;
  width: 723px;
}

.home-page .text-wrapper-36 {
  line-height: 45px;
}

.home-page .text-wrapper-37 {
  font-size: 123.4px;
  line-height: 118px;
}

.home-page .layer-4 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 152px;
  width: 459px;
}

.home-page .text-wrapper-38 {
  color: #ffb337;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.5px;
  font-weight: 400;
  height: 23px;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 177px;
  white-space: nowrap;
}

.home-page .overlap-19 {
  height: 459px;
  left: 519px;
  position: absolute;
  top: 191px;
  width: 401px;
}

.home-page .me {
  height: 459px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 391px;
}

.home-page .me-2 {
  height: 403px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 381px;
}

.home-page .with-years-deep-in {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 22.7px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 34.1px;
  position: absolute;
  top: 241px;
  width: 445px;
}

.home-page .text-wrapper-39 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 22.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34.1px;
}

.home-page .text-wrapper-40 {
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 52.3px;
  line-height: 78.8px;
}

.home-page .text-wrapper-41 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 796px;
  white-space: nowrap;
  width: 268px;
}

.home-page .overlap-20 {
  height: 171px;
  left: 1069px;
  position: absolute;
  top: 45px;
  width: 264px;
}

.home-page .text-wrapper-42 {
  color: #ffb337;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 85.9px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 223px;
}

.home-page .text-wrapper-43 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 93px;
  width: 264px;
}

.home-page .overlap-21 {
  height: 166px;
  left: 1069px;
  position: absolute;
  top: 226px;
  width: 264px;
}

.home-page .text-wrapper-44 {
  color: #ffcc36;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 85.9px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 223px;
}

.home-page .text-wrapper-45 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 88px;
  width: 264px;
}

.home-page .overlap-22 {
  height: 165px;
  left: 1069px;
  position: absolute;
  top: 408px;
  width: 264px;
}

.home-page .text-wrapper-46 {
  color: #ffe634;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 85.9px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 241px;
}

.home-page .text-wrapper-47 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 87px;
  width: 264px;
}

.home-page .text-wrapper-48 {
  color: #ffff33;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 85.9px;
  font-weight: 400;
  left: 1069px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 590px;
  white-space: nowrap;
  width: 264px;
}

.home-page .text-wrapper-49 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 1069px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 673px;
  width: 264px;
}

.home-page .logo-2 {
  height: 23px;
  left: 309px;
  object-fit: cover;
  position: absolute;
  top: 810px;
  width: 19px;
}

.home-page .logo-3 {
  height: 23px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 810px;
  width: 19px;
}

.home-page .logo-4 {
  height: 23px;
  left: 865px;
  object-fit: cover;
  position: absolute;
  top: 810px;
  width: 19px;
}

.home-page .logo-5 {
  height: 23px;
  left: 1127px;
  object-fit: cover;
  position: absolute;
  top: 810px;
  width: 19px;
}

.home-page .text-wrapper-50 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 370px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 796px;
  white-space: nowrap;
  width: 203px;
}

.home-page .text-wrapper-51 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 674px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 796px;
  white-space: nowrap;
  width: 149px;
}

.home-page .text-wrapper-52 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 925px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 796px;
  white-space: nowrap;
  width: 161px;
}

.home-page .text-wrapper-53 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.1px;
  font-weight: 400;
  left: 1187px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 796px;
  white-space: nowrap;
  width: 174px;
}

.home-page .overlap-23 {
  background-image: url(../../../static/img/1st-section.png);
  background-size: 100% 100%;
  height: 782px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1500px;
}

.home-page .about-instance {
  height: 26px !important;
  left: 816px !important;
  position: absolute !important;
  top: 37px !important;
  width: 69px !important;
}

.home-page .design-component-instance-node-6 {
  font-size: 25.8px !important;
  height: 26px !important;
  left: -1px !important;
  top: -2px !important;
}

.home-page .services-instance {
  height: 26px !important;
  left: 945px !important;
  position: absolute !important;
  top: 37px !important;
  width: 96px !important;
}

.home-page .design-component-instance-node-7 {
  font-size: 25.8px !important;
  height: 26px !important;
  top: -2px !important;
}

.home-page .portfolio-instance {
  height: 26px !important;
  left: 1102px !important;
  position: absolute !important;
  top: 37px !important;
  width: 95px !important;
}

.home-page .blog-instance {
  height: 26px !important;
  left: 1258px !important;
  position: absolute !important;
  top: 37px !important;
  width: 52px !important;
}

.home-page .blog-2 {
  font-size: 25.8px !important;
  height: 26px !important;
  left: -13px !important;
  top: -2px !important;
}

.home-page .contact-instance {
  height: 26px !important;
  left: 1371px !important;
  position: absolute !important;
  top: 37px !important;
  width: 88px !important;
}

.home-page .top-instance {
  display: flex !important;
  gap: 7.81px !important;
  height: 110px !important;
  left: 1392px !important;
  padding: 23.44px 15.63px !important;
  position: fixed !important;
  top: 647px !important;
  width: 95px !important;
}

.home-page .top-2 {
  box-shadow: 2.34px 2.34px 3.91px #ffb33726 !important;
  height: 63.28px !important;
  width: 65.28px !important;
}

.home-page .top-3 {
  border-radius: 31.64px !important;
  height: 63px !important;
  width: 63px !important;
}

.home-page .top-4 {
  font-size: 14.8px !important;
  height: 21px !important;
  left: 10px !important;
  top: 35px !important;
  width: 43px !important;
}

.home-page .top-5 {
  height: 17px !important;
  left: 32px !important;
  top: 12px !important;
  width: 1px !important;
}
