.home-page {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div-2 {
  background-color: #191919;
  height: 850px;
  position: relative;
  width: 1511.11px;
}

.home-page .overlap {
  background-color: #191919;
  height: 5785px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1511px;
}

.home-page .element-section {
  height: 1012px;
  left: 142px;
  position: absolute;
  top: 4757px;
  width: 1227px;
}

.home-page .group {
  height: 99px;
  left: 46px;
  position: absolute;
  top: 441px;
  width: 273px;
}

.home-page .text-wrapper-15 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 50.4px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home-page .text-wrapper-16 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 31.5px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 68px;
  white-space: nowrap;
}

.home-page .group-2 {
  height: 99px;
  left: 46px;
  position: absolute;
  top: 572px;
  width: 444px;
}

.home-page .group-3 {
  height: 99px;
  left: 46px;
  position: absolute;
  top: 704px;
  width: 241px;
}

.home-page .overlap-group-2 {
  height: 274px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 486px;
}

.home-page .ready-to-chat {
  color: #e2e2e2;
  font-family: "Futura Bk BT-Regular", Helvetica;
  font-size: 108.6px;
  font-weight: 400;
  height: 274px;
  left: 6px;
  letter-spacing: 0;
  line-height: 107.3px;
  position: absolute;
  top: 0;
  width: 480px;
}

.home-page .span {
  color: #e2e2e2;
  font-family: "Futura Bk BT-Regular", Helvetica;
  font-size: 108.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 107.3px;
}

.home-page .text-wrapper-17 {
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 144px;
  line-height: 142.3px;
}

.home-page .vector-2 {
  height: 8px;
  left: 0;
  position: absolute;
  top: 265px;
  width: 458px;
}

.home-page .p {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 401px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 964px;
  white-space: nowrap;
}

.home-page .text-wrapper-18 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.7px;
  font-weight: 400;
  height: 38px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 339px;
  width: 285px;
}

.home-page .overlap-2 {
  height: 936px;
  left: 639px;
  position: absolute;
  top: -9px;
  width: 588px;
}

.home-page .form-page {
  align-items: center;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  gap: 24.48px;
  left: 0;
  padding: 48.97px 24.48px 24.48px;
  position: absolute;
  top: 0;
  width: 588px;
}

.home-page .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #191919;
  box-shadow: 0px 1.22px 4.9px #00000029;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24.48px;
  max-width: 856.95px;
  padding: 24.48px;
  position: relative;
  width: 100%;
}

.home-page .design-component-instance-node {
  flex: 0 0 auto !important;
  gap: 12.24px !important;
  width: 477.44px !important;
}

.home-page .design-component-instance-node-2 {
  font-family: "Spartan", Helvetica !important;
  font-size: 17.1px !important;
  font-style: unset !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  margin-top: -1.22px !important;
}

.home-page .design-component-instance-node-3 {
  background-color: #e2e2e2 !important;
  border: 1.22px solid !important;
  border-radius: 4.9px !important;
  height: 48.97px !important;
  padding: 0px 18.36px !important;
}

.home-page .design-component-instance-node-4 {
  font-family: "Spartan", Helvetica !important;
  font-size: 17.1px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.home-page .design-component-instance-node-5 {
  font-family: "Spartan", Helvetica !important;
  font-size: 14.7px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.home-page .paragraph-instance {
  background-color: #e2e2e2 !important;
  border: 1.22px solid !important;
  border-radius: 4.9px !important;
  height: 146.91px !important;
  padding: 18.36px !important;
}

.home-page .paragraph-2 {
  font-family: "Spartan", Helvetica !important;
  font-size: 17.1px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  margin-top: -1.22px !important;
}

.home-page .dropdown-instance {
  height: 9px !important;
  left: 447px !important;
  top: 21px !important;
  width: 13px !important;
}

.home-page .submit-button-instance {
  border-radius: 9.79px !important;
  height: 48.97px !important;
  padding: 9.79px 24.48px !important;
}

.home-page .submit-button-2 {
  font-size: 17.1px !important;
}

.home-page .rectangle {
  border: 11.81px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 179, 55), rgb(255, 255, 51) 48.44%, rgba(25, 25, 25, 0) 83.75%) 1;
  height: 887px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 576px;
}

.home-page .logo {
  height: 50px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 866px;
  width: 49px;
}

.home-page .dinarte-vieira {
  color: #ffffff;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 26.8px;
  font-weight: 400;
  height: 33px;
  left: 107px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 874px;
  width: 170px;
}

.home-page .text-wrapper-19 {
  color: #ffffff;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 26.8px;
  font-weight: 400;
  letter-spacing: 0;
}

.home-page .text-wrapper-20 {
  font-family: "Futura Bk BT-Regular", Helvetica;
}

.home-page .overlap-3 {
  height: 3063px;
  left: 0;
  position: absolute;
  top: 1694px;
  width: 1511px;
}

.home-page .element-th-section {
  height: 985px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 2079px;
  width: 1511px;
}

.home-page .text-wrapper-21 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.7px;
  font-weight: 400;
  height: 38px;
  left: 1175px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 181px;
  width: 238px;
}

.home-page .vector-3 {
  height: 9px;
  left: 608px;
  position: absolute;
  top: 168px;
  width: 804px;
}

.home-page .text-wrapper-22 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.8px;
  font-weight: 400;
  height: 69px;
  left: 307px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 92px;
  white-space: nowrap;
}

.home-page .slide-noticias {
  height: 671px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 269px;
  width: 1511px;
}

.home-page .div-3 {
  height: 629px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4125px;
}

.home-page .group-4 {
  height: 629px;
  left: 152px;
  position: relative;
  width: 3768px;
}

.home-page .component-wrapper {
  border-radius: 49.05px;
  height: 629px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 667px;
}

.home-page .component {
  border-radius: 49.05px;
  height: 629px;
  overflow: hidden;
  position: relative;
}

.home-page .rectangle-2 {
  height: 638px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 677px;
}

.home-page .frame-7 {
  border-radius: 49.05px;
  height: 629px;
  left: 775px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 667px;
}

.home-page .rectangle-3 {
  height: 640px;
  left: -6px;
  position: absolute;
  top: -5px;
  width: 679px;
}

.home-page .frame-8 {
  border-radius: 49.05px;
  height: 629px;
  left: 1550px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 667px;
}

.home-page .rectangle-4 {
  height: 642px;
  left: -7px;
  position: absolute;
  top: -6px;
  width: 681px;
}

.home-page .frame-9 {
  border-radius: 49.05px;
  height: 629px;
  left: 2325px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 667px;
}

.home-page .rectangle-5 {
  height: 636px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 674px;
}

.home-page .frame-10 {
  border-radius: 49.05px;
  height: 629px;
  left: 3100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 667px;
}

.home-page .rectangle-6 {
  height: 641px;
  left: -6px;
  position: absolute;
  top: -6px;
  width: 680px;
}

.home-page .right {
  background-color: #191919;
  border-radius: 38.72px;
  box-shadow: 0px 5.16px 8.39px #e2e2e2;
  height: 77px;
  left: 785px;
  position: absolute;
  top: 237px;
  transform: rotate(180deg);
  width: 77px;
}

.home-page .arrow {
  height: 1px;
  left: 28px;
  position: absolute;
  top: 39px;
  transform: rotate(-180deg);
  width: 3px;
}

.home-page .dots {
  height: 14px;
  left: 416px;
  position: absolute;
  top: 658px;
  width: 138px;
}

.home-page .ellipse {
  background-color: #ffff33;
  border-radius: 7.1px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 7.1px;
  height: 14px;
  left: 31px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-3 {
  background-color: #d9d9d9;
  border-radius: 7.1px;
  height: 14px;
  left: 62px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-4 {
  background-color: #d9d9d9;
  border-radius: 7.1px;
  height: 14px;
  left: 93px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .ellipse-5 {
  background-color: #d9d9d9;
  border-radius: 7.1px;
  height: 14px;
  left: 124px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-page .element-section-2 {
  height: 1331px;
  left: 43px;
  overflow: hidden;
  position: absolute;
  top: 804px;
  width: 1425px;
}

.home-page .text-wrapper-23 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.7px;
  font-weight: 400;
  height: 38px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 142px;
  width: 357px;
}

.home-page .overlap-4 {
  height: 71px;
  left: 53px;
  position: absolute;
  top: 53px;
  width: 1019px;
}

.home-page .layer {
  height: 6px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 1019px;
}

.home-page .text-wrapper-24 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.8px;
  font-weight: 400;
  height: 69px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page .overlap-5 {
  height: 980px;
  left: 0;
  position: absolute;
  top: 253px;
  width: 1425px;
}

.home-page .overlap-6 {
  height: 774px;
  left: 0;
  position: absolute;
  top: 206px;
  width: 1425px;
}

.home-page .image {
  height: 543px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 865px;
}

.home-page .overlap-wrapper {
  height: 512px;
  left: 812px;
  overflow: hidden;
  position: absolute;
  top: 261px;
  width: 577px;
}

.home-page .overlap-7 {
  height: 513px;
  position: relative;
  width: 581px;
}

.home-page .vector-4 {
  height: 495px;
  left: 72px;
  position: absolute;
  top: 9px;
  width: 351px;
}

.home-page .overlap-group-wrapper {
  height: 513px;
  left: 0;
  position: absolute;
  top: 0;
  width: 581px;
}

.home-page .overlap-group-3 {
  height: 513px;
  position: relative;
}

.home-page .rectangle-7 {
  height: 299px;
  left: 49px;
  position: absolute;
  top: 9px;
  width: 532px;
}

.home-page .rectangle-8 {
  height: 178px;
  left: 0;
  position: absolute;
  top: 0;
  width: 317px;
}

.home-page .rectangle-9 {
  height: 102px;
  left: 80px;
  position: absolute;
  top: 152px;
  width: 181px;
}

.home-page .rectangle-10 {
  height: 146px;
  left: 32px;
  position: absolute;
  top: 243px;
  width: 260px;
}

.home-page .rectangle-11 {
  height: 127px;
  left: 5px;
  position: absolute;
  top: 386px;
  width: 226px;
}

.home-page .rectangle-12 {
  height: 127px;
  left: 108px;
  position: absolute;
  top: 381px;
  width: 226px;
}

.home-page .rectangle-13 {
  height: 127px;
  left: 245px;
  position: absolute;
  top: 383px;
  width: 226px;
}

.home-page .rectangle-14 {
  height: 121px;
  left: 229px;
  position: absolute;
  top: 272px;
  width: 215px;
}

.home-page .rectangle-15 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 355px;
  left: 811px;
  position: absolute;
  top: 340px;
  transform: rotate(-90deg);
  width: 495px;
}

.home-page .rectangle-16 {
  background-color: #ffffff;
  height: 168px;
  left: 1093px;
  position: absolute;
  top: 433px;
  transform: rotate(-90deg);
  width: 495px;
}

.home-page .rectangle-17 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 168px;
  left: 1092px;
  position: absolute;
  top: 434px;
  transform: rotate(-90deg);
  width: 496px;
}

.home-page .group-wrapper {
  height: 410px;
  left: 1284px;
  overflow: hidden;
  position: absolute;
  top: 312px;
  width: 114px;
}

.home-page .layer-wrapper {
  height: 410px;
}

.home-page .layer-2 {
  height: 410px;
  position: relative;
  width: 114px;
}

.home-page .group-5 {
  height: 107px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 89px;
}

.home-page .group-6 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 89px;
}

.home-page .overlap-8 {
  height: 73px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 81px;
}

.home-page .vector-5 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 81px;
}

.home-page .vector-6 {
  height: 19px;
  left: 12px;
  position: absolute;
  top: 47px;
  width: 56px;
}

.home-page .group-7 {
  height: 62px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 58px;
}

.home-page .overlap-9 {
  height: 62px;
  position: relative;
}

.home-page .group-8 {
  height: 3px;
  left: 8px;
  position: absolute;
  top: 59px;
  width: 27px;
}

.home-page .group-9 {
  height: 62px;
  left: 0;
  position: absolute;
  top: 0;
  width: 58px;
}

.home-page .group-10 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 29px;
}

.home-page .overlap-group-4 {
  height: 30px;
  position: relative;
}

.home-page .clip-path-group {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.home-page .group-11 {
  height: 23px;
  left: 7px;
  position: absolute;
  top: 3px;
  width: 22px;
}

.home-page .img-wrapper {
  background-image: url(../../../static/img/rectangle-6.png);
  background-size: 100% 100%;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.home-page .group-12 {
  height: 17px;
  left: 11px;
  mix-blend-mode: screen;
  position: absolute;
  top: 12px;
  width: 17px;
}

.home-page .group-13 {
  height: 17px;
  left: 9px;
  mix-blend-mode: screen;
  position: absolute;
  top: 9px;
  width: 17px;
}

.home-page .group-14 {
  height: 60px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 23px;
}

.home-page .overlap-group-5 {
  height: 60px;
  position: relative;
}

.home-page .group-15 {
  height: 34px;
  left: 1px;
  position: absolute;
  top: 11px;
  width: 16px;
}

.home-page .group-16 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.home-page .rectangle-18 {
  height: 60px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 15px;
}

.home-page .rectangle-19 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
}

.home-page .group-17 {
  height: 45px;
  left: 15px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.home-page .group-18 {
  height: 19px;
  left: 3px;
  mix-blend-mode: screen;
  position: absolute;
  top: 38px;
  width: 11px;
}

.home-page .group-19 {
  height: 28px;
  left: 5px;
  mix-blend-mode: screen;
  position: absolute;
  top: 28px;
  width: 12px;
}

.home-page .group-20 {
  height: 34px;
  left: 19px;
  position: absolute;
  top: 25px;
  width: 12px;
}

.home-page .overlap-group-6 {
  height: 34px;
  position: relative;
}

.home-page .group-21 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 4px;
}

.home-page .group-22 {
  height: 34px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 11px;
}

.home-page .rectangle-20 {
  height: 34px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 9px;
}

.home-page .rectangle-21 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.home-page .group-23 {
  height: 25px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 8px;
}

.home-page .group-24 {
  height: 16px;
  left: 3px;
  mix-blend-mode: screen;
  position: absolute;
  top: 13px;
  width: 6px;
}

.home-page .group-25 {
  height: 47px;
  left: 5px;
  position: absolute;
  top: 13px;
  width: 26px;
}

.home-page .overlap-10 {
  height: 47px;
  position: relative;
}

.home-page .group-26 {
  height: 36px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 19px;
}

.home-page .group-27 {
  background-image: url(../../../static/img/rectangle-1.png);
  background-size: 100% 100%;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.home-page .group-28 {
  height: 26px;
  left: 8px;
  mix-blend-mode: screen;
  position: absolute;
  top: 20px;
  width: 17px;
}

.home-page .group-29 {
  height: 26px;
  left: 7px;
  mix-blend-mode: screen;
  position: absolute;
  top: 14px;
  width: 15px;
}

.home-page .group-30 {
  height: 21px;
  left: 18px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 41px;
  width: 28px;
}

.home-page .group-31 {
  height: 32px;
  left: 19px;
  position: absolute;
  top: 29px;
  width: 39px;
}

.home-page .overlap-group-7 {
  height: 32px;
  position: relative;
}

.home-page .img-2 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.home-page .group-32 {
  height: 25px;
  left: 6px;
  position: absolute;
  top: 2px;
  width: 26px;
}

.home-page .group-33 {
  height: 16px;
  left: 9px;
  mix-blend-mode: screen;
  position: absolute;
  top: 15px;
  width: 19px;
}

.home-page .group-34 {
  height: 116px;
  left: 0;
  position: absolute;
  top: 157px;
  width: 114px;
}

.home-page .group-35 {
  height: 64px;
  left: 10px;
  position: absolute;
  top: 346px;
  width: 96px;
}

.home-page .rectangle-22 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 543px;
  left: 0;
  position: absolute;
  top: 223px;
  width: 865px;
}

.home-page .posts-IVBAM {
  height: 231px;
  left: 1143px;
  position: absolute;
  top: 5px;
  width: 277px;
}

.home-page .IVBAM-posts-normais {
  height: 115px;
  left: 184px;
  object-fit: cover;
  position: absolute;
  top: 116px;
  width: 92px;
}

.home-page .IVBAM-posts-normais-2 {
  height: 116px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 92px;
}

.home-page .IVBAM-posts-normais-3 {
  height: 116px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 92px;
}

.home-page .IVBAM-posts-normais-4 {
  height: 116px;
  left: 184px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 92px;
}

.home-page .IVBAM-posts-normais-5 {
  height: 115px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 116px;
  width: 92px;
}

.home-page .IVBAM-posts-normais-6 {
  height: 115px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 116px;
  width: 92px;
}

.home-page .rectangle-23 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 285px;
  left: 1161px;
  position: absolute;
  top: -21px;
  transform: rotate(-90deg);
  width: 242px;
}

.home-page .overlap-11 {
  height: 449px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1419px;
}

.home-page .image-2 {
  height: 412px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 621px;
}

.home-page .herbalife {
  height: 406px;
  left: 636px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 226px;
}

.home-page .rectangle-24 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 231px;
  left: 543px;
  position: absolute;
  top: 90px;
  transform: rotate(-90deg);
  width: 412px;
}

.home-page .rectangle-25 {
  background-color: #ffffff;
  height: 182px;
  left: 881px;
  position: absolute;
  top: 0;
  width: 538px;
}

.home-page .lonas-ERA {
  height: 169px;
  left: 888px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 525px;
}

.home-page .rectangle-26 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 182px;
  left: 881px;
  position: absolute;
  top: 0;
  width: 538px;
}

.home-page .anuncios-financestar {
  height: 229px;
  left: 888px;
  position: absolute;
  top: 213px;
  width: 230px;
}

.home-page .overlap-12 {
  height: 229px;
  left: 0;
  position: absolute;
  top: 0;
  width: 115px;
}

.home-page .anncio {
  height: 115px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 115px;
}

.home-page .anncio-2 {
  height: 115px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 115px;
}

.home-page .overlap-13 {
  height: 229px;
  left: 115px;
  position: absolute;
  top: 0;
  width: 115px;
}

.home-page .post {
  height: 114px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 114px;
}

.home-page .rectangle-27 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 242px;
  left: 881px;
  position: absolute;
  top: 206px;
  transform: rotate(-90deg);
  width: 242px;
}

.home-page .rectangle-28 {
  border: 7.08px solid;
  border-color: #e2e2e2;
  height: 412px;
  left: 0;
  position: absolute;
  top: 0;
  width: 621px;
}

.home-page .vector-7 {
  height: 6px;
  left: 54px;
  position: absolute;
  top: 124px;
  width: 512px;
}

.home-page .element-rd-section {
  height: 838px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1511px;
}

.home-page .overlap-14 {
  height: 754px;
  position: relative;
  top: 20px;
}

.home-page .text-wrapper-25 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.8px;
  font-weight: 400;
  height: 107px;
  left: 287px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1169px;
}

.home-page .text-wrapper-26 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.7px;
  font-weight: 400;
  height: 38px;
  left: 1179px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 98px;
  width: 258px;
}

.home-page .layer-3 {
  height: 5px;
  left: 593px;
  position: absolute;
  top: 69px;
  width: 823px;
}

.home-page .servios-wrapper {
  height: 632px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 122px;
  width: 1511px;
}

.home-page .servios {
  height: 526px;
  left: 67px;
  overflow: hidden;
  position: relative;
  top: 79px;
  width: 3058px;
}

.home-page .social-media {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.8px;
  font-weight: 500;
  height: 144px;
  left: 83px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 165px;
}

.home-page .text-wrapper-27 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 23.2px;
  position: absolute;
  text-align: center;
  top: 355px;
  width: 338px;
}

.home-page .text-wrapper-28 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.8px;
  font-weight: 500;
  height: 72px;
  left: 494px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 201px;
}

.home-page .ignite-your-brand-s {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 419px;
  letter-spacing: 0;
  line-height: 23.2px;
  position: absolute;
  text-align: center;
  top: 355px;
  width: 338px;
}

.home-page .amplify-your-brand-s {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 2702px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 355px;
  width: 280px;
}

.home-page .public-relations {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 74px;
  font-weight: 500;
  height: 178px;
  left: 2682px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 148px;
  width: 320px;
}

.home-page .text-wrapper-29 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.8px;
  font-weight: 500;
  height: 72px;
  left: 1860px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 201px;
}

.home-page .text-wrapper-30 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 1749px;
  letter-spacing: 0;
  line-height: 23.2px;
  position: absolute;
  text-align: center;
  top: 355px;
  width: 338px;
}

.home-page .google-meta-ads {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 59.8px;
  font-weight: 500;
  height: 144px;
  left: 839px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 165px;
  width: 381px;
}

.home-page .text-wrapper-31 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 860px;
  letter-spacing: 0;
  line-height: 23.2px;
  position: absolute;
  text-align: center;
  top: 355px;
  width: 338px;
}

.home-page .text-wrapper-32 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 1324px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 355px;
  width: 321px;
}

.home-page .text-wrapper-33 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 74px;
  font-weight: 500;
  height: 178px;
  left: 1301px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 148px;
  width: 367px;
}

.home-page .text-wrapper-34 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  left: 2234px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 355px;
  width: 301px;
}

.home-page .text-wrapper-35 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 74px;
  font-weight: 500;
  height: 89px;
  left: 2168px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 433px;
}

.home-page .icons {
  height: 120px;
  left: 109px;
  position: absolute;
  top: 0;
  width: 2792px;
}

.home-page .online-advertising {
  height: 119px;
  left: 861px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 119px;
}

.home-page .seo {
  height: 119px;
  left: 1750px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 120px;
}

.home-page .social-media-2 {
  height: 119px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 119px;
}

.home-page .web-design {
  height: 120px;
  left: 421px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 119px;
}

.home-page .copywriter {
  height: 120px;
  left: 2216px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 120px;
}

.home-page .email-marketing {
  height: 120px;
  left: 1317px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 119px;
}

.home-page .handshake {
  height: 119px;
  left: 2674px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 119px;
}

.home-page .vector-8 {
  height: 6px;
  left: 954px;
  position: absolute;
  top: 95px;
  width: 462px;
}

.home-page .element-nd-section {
  height: 847px;
  left: 69px;
  position: absolute;
  top: 801px;
  width: 1404px;
}

.home-page .overlap-15 {
  height: 717px;
  left: 44px;
  position: absolute;
  top: 0;
  width: 926px;
}

.home-page .overlap-16 {
  height: 655px;
  left: 0;
  position: absolute;
  top: 0;
  width: 926px;
}

.home-page .overlap-17 {
  height: 203px;
  left: 0;
  position: absolute;
  top: 0;
  width: 728px;
}

.home-page .identify-with-me {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 59.8px;
  font-weight: 400;
  height: 193px;
  left: 0;
  letter-spacing: 0;
  line-height: 59.8px;
  position: absolute;
  top: 0;
  width: 728px;
}

.home-page .text-wrapper-36 {
  line-height: 45.4px;
}

.home-page .text-wrapper-37 {
  font-size: 124.4px;
  line-height: 118.8px;
}

.home-page .layer-4 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 153px;
  width: 462px;
}

.home-page .text-wrapper-38 {
  color: #ffb337;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 19.7px;
  font-weight: 400;
  height: 24px;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 179px;
}

.home-page .overlap-18 {
  height: 462px;
  left: 523px;
  position: absolute;
  top: 193px;
  width: 404px;
}

.home-page .me {
  height: 462px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 394px;
}

.home-page .me-2 {
  height: 406px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 384px;
}

.home-page .with-years-deep-in {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 22.8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 34.4px;
  position: absolute;
  top: 242px;
  width: 448px;
}

.home-page .text-wrapper-39 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 22.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34.4px;
}

.home-page .text-wrapper-40 {
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 52.7px;
  line-height: 79.4px;
}

.home-page .text-wrapper-41 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 802px;
  white-space: nowrap;
  width: 270px;
}

.home-page .overlap-19 {
  height: 172px;
  left: 1077px;
  position: absolute;
  top: 45px;
  width: 266px;
}

.home-page .text-wrapper-42 {
  color: #ffb337;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 86.6px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 224px;
}

.home-page .text-wrapper-43 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 94px;
  width: 266px;
}

.home-page .overlap-20 {
  height: 168px;
  left: 1077px;
  position: absolute;
  top: 228px;
  width: 266px;
}

.home-page .text-wrapper-44 {
  color: #ffcc36;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 86.6px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 224px;
}

.home-page .text-wrapper-45 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 89px;
  width: 266px;
}

.home-page .overlap-21 {
  height: 166px;
  left: 1077px;
  position: absolute;
  top: 411px;
  width: 266px;
}

.home-page .text-wrapper-46 {
  color: #ffe634;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 86.6px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 242px;
}

.home-page .text-wrapper-47 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 88px;
  width: 266px;
}

.home-page .text-wrapper-48 {
  color: #ffff33;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 86.6px;
  font-weight: 400;
  left: 1077px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 594px;
  white-space: nowrap;
  width: 266px;
}

.home-page .text-wrapper-49 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 1077px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 678px;
  width: 266px;
}

.home-page .logo-2 {
  height: 23px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 816px;
  width: 19px;
}

.home-page .logo-3 {
  height: 23px;
  left: 619px;
  object-fit: cover;
  position: absolute;
  top: 816px;
  width: 19px;
}

.home-page .logo-4 {
  height: 23px;
  left: 871px;
  object-fit: cover;
  position: absolute;
  top: 816px;
  width: 19px;
}

.home-page .logo-5 {
  height: 23px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 816px;
  width: 19px;
}

.home-page .text-wrapper-50 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 372px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 802px;
  white-space: nowrap;
  width: 205px;
}

.home-page .text-wrapper-51 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 679px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 802px;
  white-space: nowrap;
  width: 150px;
}

.home-page .text-wrapper-52 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 932px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 802px;
  white-space: nowrap;
  width: 162px;
}

.home-page .text-wrapper-53 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 39.4px;
  font-weight: 400;
  left: 1196px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 802px;
  white-space: nowrap;
  width: 176px;
}

.home-page .overlap-22 {
  background-image: url(../../../static/img/1st-section.png);
  background-size: 100% 100%;
  height: 788px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1511px;
}

.home-page .about-instance {
  height: 26px !important;
  left: 800px !important;
  position: absolute !important;
  top: 37px !important;
  width: 101px !important;
}

.home-page .about-2 {
  font-size: 26px !important;
  height: 26px !important;
  top: -2px !important;
  width: 101px !important;
}

.home-page .services-instance {
  height: 26px !important;
  left: 926px !important;
  position: absolute !important;
  top: 37px !important;
  width: 128px !important;
}

.home-page .services-2 {
  font-size: 26px !important;
  height: 26px !important;
  top: -2px !important;
  width: 128px !important;
}

.home-page .portfolio-instance {
  height: 26px !important;
  left: 1080px !important;
  position: absolute !important;
  top: 37px !important;
  width: 127px !important;
}

.home-page .portfolio-2 {
  font-size: 26px !important;
  height: 26px !important;
  top: -2px !important;
  width: 127px !important;
}

.home-page .blog-instance {
  height: 26px !important;
  left: 1233px !important;
  position: absolute !important;
  top: 37px !important;
  width: 100px !important;
}

.home-page .blog-2 {
  font-size: 26px !important;
  height: 26px !important;
  left: -24px !important;
  top: -2px !important;
  width: 148px !important;
}

.home-page .contact-instance {
  height: 26px !important;
  left: 1359px !important;
  position: absolute !important;
  top: 37px !important;
  width: 120px !important;
}

.home-page .contact-2 {
  font-size: 26px !important;
  height: 26px !important;
  left: -21px !important;
  top: -2px !important;
  width: 163px !important;
}

.home-page .top-instance {
  align-items: flex-end !important;
  display: flex !important;
  gap: 7.87px !important;
  height: 111px !important;
  justify-content: flex-end !important;
  left: 1402px !important;
  padding: 23.61px 15.74px !important;
  position: fixed !important;
  top: 651px !important;
  width: 95px !important;
}

.home-page .top-2 {
  box-shadow: 2.36px 2.36px 3.94px #ffb33726 !important;
  height: 63.75px !important;
  width: 65.75px !important;
}

.home-page .top-3 {
  border-radius: 31.88px !important;
  height: 64px !important;
  width: 64px !important;
}

.home-page .top-4 {
  font-size: 15px !important;
  height: 21px !important;
  left: 10px !important;
  top: 35px !important;
  width: 43px !important;
}

.home-page .top-5 {
  height: 17px !important;
  left: 32px !important;
  top: 12px !important;
  width: 1px !important;
}
