.home-page {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div-2 {
  background-color: #191919;
  height: 720px;
  position: relative;
  width: 1280px;
}

.home-page .overlap {
  background-color: #191919;
  height: 4900px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.home-page .overlap-2 {
  height: 864px;
  left: 39px;
  position: absolute;
  top: 4029px;
  width: 1195px;
}

.home-page .last-section {
  height: 105px;
  left: 0;
  position: absolute;
  top: 759px;
  width: 1195px;
}

.home-page .group {
  height: 93px;
  left: 13px;
  position: relative;
  width: 1172px;
}

.home-page .logo {
  height: 93px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 91px;
}

.home-page .dinarte-vieira {
  color: #ffffff;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 51.3px;
  font-weight: 400;
  height: 61px;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 16px;
  white-space: nowrap;
  width: 329px;
}

.home-page .span {
  color: #ffffff;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 51.3px;
  font-weight: 400;
  letter-spacing: 0;
}

.home-page .text-wrapper-15 {
  font-family: "Futura Bk BT-Regular", Helvetica;
}

.home-page .p {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 18.7px;
  font-weight: 500;
  left: 807px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 71px;
  white-space: nowrap;
}

.home-page .element-section {
  height: 782px;
  left: 81px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1039px;
}

.home-page .group-2 {
  height: 85px;
  left: 39px;
  position: absolute;
  top: 373px;
  width: 232px;
}

.home-page .text-wrapper-16 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 42.7px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home-page .text-wrapper-17 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 26.7px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.home-page .group-3 {
  height: 85px;
  left: 39px;
  position: absolute;
  top: 485px;
  width: 377px;
}

.home-page .group-4 {
  height: 85px;
  left: 39px;
  position: absolute;
  top: 596px;
  width: 205px;
}

.home-page .overlap-group-2 {
  height: 234px;
  left: 0;
  position: absolute;
  top: 51px;
  width: 411px;
}

.home-page .ready-to-chat {
  color: #e2e2e2;
  font-family: "Futura Bk BT-Regular", Helvetica;
  font-size: 92px;
  font-weight: 400;
  height: 232px;
  left: 5px;
  letter-spacing: 0;
  line-height: 90.9px;
  position: absolute;
  top: 0;
  width: 407px;
}

.home-page .text-wrapper-18 {
  color: #e2e2e2;
  font-family: "Futura Bk BT-Regular", Helvetica;
  font-size: 92px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 90.9px;
}

.home-page .text-wrapper-19 {
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 122px;
  line-height: 120.6px;
}

.home-page .vector-2 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 228px;
  width: 388px;
}

.home-page .text-wrapper-20 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 287px;
  width: 241px;
}

.home-page .overlap-3 {
  height: 793px;
  left: 541px;
  position: absolute;
  top: -8px;
  width: 498px;
}

.home-page .form-page {
  align-items: center;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  gap: 20.74px;
  left: 0;
  padding: 41.48px 20.74px 20.74px;
  position: absolute;
  top: 0;
  width: 498px;
}

.home-page .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #191919;
  box-shadow: 0px 1.04px 4.15px #00000029;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20.74px;
  max-width: 725.89px;
  padding: 20.74px;
  position: relative;
  width: 100%;
}

.home-page .design-component-instance-node {
  flex: 0 0 auto !important;
  gap: 10.37px !important;
  width: 404.42px !important;
}

.home-page .design-component-instance-node-2 {
  font-family: "Spartan", Helvetica !important;
  font-size: 14.5px !important;
  font-style: unset !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  margin-top: -1.04px !important;
}

.home-page .design-component-instance-node-3 {
  background-color: #e2e2e2 !important;
  border: 1.04px solid !important;
  border-radius: 4.15px !important;
  height: 41.48px !important;
  padding: 0px 15.55px !important;
}

.home-page .design-component-instance-node-4 {
  font-family: "Spartan", Helvetica !important;
  font-size: 14.5px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.home-page .design-component-instance-node-5 {
  font-family: "Spartan", Helvetica !important;
  font-size: 12.4px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.home-page .paragraph-instance {
  background-color: #e2e2e2 !important;
  border: 1.04px solid !important;
  border-radius: 4.15px !important;
  height: 124.44px !important;
  padding: 15.55px !important;
}

.home-page .paragraph-2 {
  font-family: "Spartan", Helvetica !important;
  font-size: 14.5px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  margin-top: -1.04px !important;
}

.home-page .dropdown-instance {
  left: 378px !important;
  top: 18px !important;
}

.home-page .submit-button-instance {
  border-radius: 8.3px !important;
  height: 41.48px !important;
  padding: 8.3px 20.74px !important;
}

.home-page .submit-button-2 {
  font-size: 14.5px !important;
}

.home-page .rectangle {
  border: 10px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 179, 55), rgb(255, 255, 51) 48.44%, rgba(25, 25, 25, 0) 83.75%) 1;
  height: 751px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 488px;
}

.home-page .overlap-4 {
  height: 2595px;
  left: 0;
  position: absolute;
  top: 1435px;
  width: 1280px;
}

.home-page .element-th-section {
  height: 834px;
  left: 0;
  position: absolute;
  top: 1761px;
  width: 1280px;
}

.home-page .text-wrapper-21 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 32px;
  left: 995px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 153px;
  width: 201px;
}

.home-page .vector-3 {
  height: 7px;
  left: 515px;
  position: absolute;
  top: 143px;
  width: 681px;
}

.home-page .text-wrapper-22 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 50.7px;
  font-weight: 400;
  height: 58px;
  left: 260px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 78px;
  white-space: nowrap;
}

.home-page .slide-noticias {
  height: 569px;
  left: 0;
  position: absolute;
  top: 228px;
  width: 1280px;
}

.home-page .div-3 {
  height: 533px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3494px;
}

.home-page .group-5 {
  height: 533px;
  left: 128px;
  position: relative;
  width: 3191px;
}

.home-page .component-wrapper {
  border-radius: 41.55px;
  height: 533px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 565px;
}

.home-page .component {
  border-radius: 41.55px;
  height: 533px;
  overflow: hidden;
  position: relative;
}

.home-page .rectangle-2 {
  height: 541px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 573px;
}

.home-page .frame-7 {
  border-radius: 41.55px;
  height: 533px;
  left: 657px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 565px;
}

.home-page .rectangle-3 {
  height: 542px;
  left: -5px;
  position: absolute;
  top: -4px;
  width: 575px;
}

.home-page .frame-8 {
  border-radius: 41.55px;
  height: 533px;
  left: 1313px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 565px;
}

.home-page .rectangle-4 {
  height: 544px;
  left: -6px;
  position: absolute;
  top: -5px;
  width: 577px;
}

.home-page .frame-9 {
  border-radius: 41.55px;
  height: 533px;
  left: 1970px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 565px;
}

.home-page .rectangle-5 {
  height: 538px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 571px;
}

.home-page .frame-10 {
  border-radius: 41.55px;
  height: 533px;
  left: 2626px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 565px;
}

.home-page .rectangle-6 {
  height: 543px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 576px;
}

.home-page .right {
  background-color: #191919;
  border-radius: 32.8px;
  box-shadow: 0px 4.37px 7.11px #e2e2e2;
  height: 66px;
  left: 665px;
  position: absolute;
  top: 201px;
  transform: rotate(180deg);
  width: 66px;
}

.home-page .arrow {
  height: 1px;
  left: 24px;
  position: absolute;
  top: 33px;
  transform: rotate(-180deg);
  width: 2px;
}

.home-page .dots {
  height: 12px;
  left: 353px;
  position: absolute;
  top: 557px;
  width: 117px;
}

.home-page .ellipse {
  background-color: #ffff33;
  border-radius: 6.01px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.home-page .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 6.01px;
  height: 12px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 12px;
}

.home-page .ellipse-3 {
  background-color: #d9d9d9;
  border-radius: 6.01px;
  height: 12px;
  left: 52px;
  position: absolute;
  top: 0;
  width: 12px;
}

.home-page .ellipse-4 {
  background-color: #d9d9d9;
  border-radius: 6.01px;
  height: 12px;
  left: 79px;
  position: absolute;
  top: 0;
  width: 12px;
}

.home-page .ellipse-5 {
  background-color: #d9d9d9;
  border-radius: 6.01px;
  height: 12px;
  left: 105px;
  position: absolute;
  top: 0;
  width: 12px;
}

.home-page .element-section-2 {
  height: 1127px;
  left: 37px;
  overflow: hidden;
  position: absolute;
  top: 681px;
  width: 1207px;
}

.home-page .text-wrapper-23 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 32px;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 120px;
  width: 302px;
}

.home-page .overlap-5 {
  height: 60px;
  left: 45px;
  position: absolute;
  top: 45px;
  width: 863px;
}

.home-page .layer {
  height: 5px;
  left: 0;
  position: absolute;
  top: 55px;
  width: 863px;
}

.home-page .text-wrapper-24 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 50.7px;
  font-weight: 400;
  height: 58px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page .overlap-6 {
  height: 830px;
  left: 0;
  position: absolute;
  top: 214px;
  width: 1207px;
}

.home-page .overlap-7 {
  height: 655px;
  left: 0;
  position: absolute;
  top: 175px;
  width: 1207px;
}

.home-page .image {
  height: 460px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 189px;
  width: 733px;
}

.home-page .overlap-wrapper {
  height: 434px;
  left: 688px;
  overflow: hidden;
  position: absolute;
  top: 221px;
  width: 489px;
}

.home-page .overlap-8 {
  height: 435px;
  position: relative;
  width: 492px;
}

.home-page .vector-4 {
  height: 419px;
  left: 61px;
  position: absolute;
  top: 7px;
  width: 297px;
}

.home-page .overlap-group-wrapper {
  height: 435px;
  left: 0;
  position: absolute;
  top: 0;
  width: 492px;
}

.home-page .overlap-group-3 {
  height: 435px;
  position: relative;
}

.home-page .rectangle-7 {
  height: 253px;
  left: 42px;
  position: absolute;
  top: 7px;
  width: 450px;
}

.home-page .rectangle-8 {
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 268px;
}

.home-page .rectangle-9 {
  height: 86px;
  left: 68px;
  position: absolute;
  top: 129px;
  width: 153px;
}

.home-page .rectangle-10 {
  height: 124px;
  left: 27px;
  position: absolute;
  top: 206px;
  width: 220px;
}

.home-page .rectangle-11 {
  height: 108px;
  left: 4px;
  position: absolute;
  top: 327px;
  width: 192px;
}

.home-page .rectangle-12 {
  height: 108px;
  left: 91px;
  position: absolute;
  top: 323px;
  width: 192px;
}

.home-page .rectangle-13 {
  height: 108px;
  left: 207px;
  position: absolute;
  top: 324px;
  width: 192px;
}

.home-page .rectangle-14 {
  height: 102px;
  left: 194px;
  position: absolute;
  top: 231px;
  width: 182px;
}

.home-page .rectangle-15 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 301px;
  left: 687px;
  position: absolute;
  top: 288px;
  transform: rotate(-90deg);
  width: 419px;
}

.home-page .rectangle-16 {
  background-color: #ffffff;
  height: 143px;
  left: 926px;
  position: absolute;
  top: 367px;
  transform: rotate(-90deg);
  width: 419px;
}

.home-page .rectangle-17 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 143px;
  left: 925px;
  position: absolute;
  top: 367px;
  transform: rotate(-90deg);
  width: 420px;
}

.home-page .group-wrapper {
  height: 347px;
  left: 1087px;
  overflow: hidden;
  position: absolute;
  top: 265px;
  width: 97px;
}

.home-page .layer-wrapper {
  height: 347px;
}

.home-page .layer-2 {
  height: 347px;
  position: relative;
  width: 97px;
}

.home-page .group-6 {
  height: 91px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 76px;
}

.home-page .group-7 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 76px;
}

.home-page .overlap-9 {
  height: 62px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 69px;
}

.home-page .vector-5 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 69px;
}

.home-page .vector-6 {
  height: 16px;
  left: 11px;
  position: absolute;
  top: 40px;
  width: 48px;
}

.home-page .group-8 {
  height: 53px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 49px;
}

.home-page .overlap-10 {
  height: 53px;
  position: relative;
}

.home-page .group-9 {
  height: 3px;
  left: 6px;
  position: absolute;
  top: 50px;
  width: 23px;
}

.home-page .group-10 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 49px;
}

.home-page .group-11 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 24px;
}

.home-page .overlap-group-4 {
  height: 26px;
  position: relative;
}

.home-page .clip-path-group {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.home-page .group-12 {
  height: 19px;
  left: 6px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.home-page .img-wrapper {
  background-image: url(../../../static/img/rectangle-6.png);
  background-size: 100% 100%;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.home-page .group-13 {
  height: 15px;
  left: 9px;
  mix-blend-mode: screen;
  position: absolute;
  top: 11px;
  width: 15px;
}

.home-page .group-14 {
  height: 14px;
  left: 7px;
  mix-blend-mode: screen;
  position: absolute;
  top: 7px;
  width: 14px;
}

.home-page .group-15 {
  height: 51px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 19px;
}

.home-page .overlap-group-5 {
  height: 51px;
  position: relative;
}

.home-page .group-16 {
  height: 29px;
  left: 1px;
  position: absolute;
  top: 10px;
  width: 13px;
}

.home-page .group-17 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.home-page .rectangle-18 {
  height: 51px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 13px;
}

.home-page .rectangle-19 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.home-page .group-18 {
  height: 38px;
  left: 13px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.home-page .group-19 {
  height: 16px;
  left: 3px;
  mix-blend-mode: screen;
  position: absolute;
  top: 32px;
  width: 9px;
}

.home-page .group-20 {
  height: 24px;
  left: 4px;
  mix-blend-mode: screen;
  position: absolute;
  top: 24px;
  width: 10px;
}

.home-page .group-21 {
  height: 29px;
  left: 16px;
  position: absolute;
  top: 21px;
  width: 10px;
}

.home-page .overlap-group-6 {
  height: 29px;
  position: relative;
}

.home-page .group-22 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 3px;
}

.home-page .group-23 {
  height: 29px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 10px;
}

.home-page .rectangle-20 {
  height: 29px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 7px;
}

.home-page .rectangle-21 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.home-page .group-24 {
  height: 22px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 7px;
}

.home-page .group-25 {
  height: 14px;
  left: 3px;
  mix-blend-mode: screen;
  position: absolute;
  top: 11px;
  width: 5px;
}

.home-page .group-26 {
  height: 40px;
  left: 4px;
  position: absolute;
  top: 11px;
  width: 22px;
}

.home-page .overlap-11 {
  height: 40px;
  position: relative;
}

.home-page .group-27 {
  height: 30px;
  left: 6px;
  position: absolute;
  top: 5px;
  width: 16px;
}

.home-page .group-28 {
  background-image: url(../../../static/img/rectangle-1.png);
  background-size: 100% 100%;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.home-page .group-29 {
  height: 22px;
  left: 7px;
  mix-blend-mode: screen;
  position: absolute;
  top: 17px;
  width: 14px;
}

.home-page .group-30 {
  height: 22px;
  left: 6px;
  mix-blend-mode: screen;
  position: absolute;
  top: 12px;
  width: 13px;
}

.home-page .group-31 {
  height: 18px;
  left: 15px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 35px;
  width: 24px;
}

.home-page .group-32 {
  height: 27px;
  left: 16px;
  position: absolute;
  top: 25px;
  width: 33px;
}

.home-page .overlap-group-7 {
  height: 27px;
  position: relative;
}

.home-page .img-2 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.home-page .group-33 {
  height: 21px;
  left: 5px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.home-page .group-34 {
  height: 14px;
  left: 8px;
  mix-blend-mode: screen;
  position: absolute;
  top: 13px;
  width: 16px;
}

.home-page .group-35 {
  height: 98px;
  left: 0;
  position: absolute;
  top: 133px;
  width: 97px;
}

.home-page .group-36 {
  height: 54px;
  left: 8px;
  position: absolute;
  top: 293px;
  width: 82px;
}

.home-page .rectangle-22 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 460px;
  left: 0;
  position: absolute;
  top: 189px;
  width: 733px;
}

.home-page .posts-IVBAM {
  height: 196px;
  left: 968px;
  position: absolute;
  top: 4px;
  width: 234px;
}

.home-page .IVBAM-posts-normais {
  height: 98px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 78px;
}

.home-page .IVBAM-posts-normais-2 {
  height: 98px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 78px;
}

.home-page .IVBAM-posts-normais-3 {
  height: 98px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 78px;
}

.home-page .IVBAM-posts-normais-4 {
  height: 98px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 78px;
}

.home-page .IVBAM-posts-normais-5 {
  height: 98px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 78px;
}

.home-page .IVBAM-posts-normais-6 {
  height: 98px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 78px;
}

.home-page .rectangle-23 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 241px;
  left: 983px;
  position: absolute;
  top: -18px;
  transform: rotate(-90deg);
  width: 205px;
}

.home-page .overlap-12 {
  height: 380px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1202px;
}

.home-page .image-2 {
  height: 349px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 526px;
}

.home-page .herbalife {
  height: 344px;
  left: 539px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 191px;
}

.home-page .rectangle-24 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 196px;
  left: 460px;
  position: absolute;
  top: 76px;
  transform: rotate(-90deg);
  width: 349px;
}

.home-page .rectangle-25 {
  background-color: #ffffff;
  height: 154px;
  left: 747px;
  position: absolute;
  top: 0;
  width: 455px;
}

.home-page .lonas-ERA {
  height: 143px;
  left: 752px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 445px;
}

.home-page .rectangle-26 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 154px;
  left: 747px;
  position: absolute;
  top: 0;
  width: 455px;
}

.home-page .anuncios-financestar {
  height: 194px;
  left: 752px;
  position: absolute;
  top: 180px;
  width: 195px;
}

.home-page .overlap-13 {
  height: 194px;
  left: 0;
  position: absolute;
  top: 0;
  width: 98px;
}

.home-page .anncio {
  height: 98px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 98px;
}

.home-page .anncio-2 {
  height: 98px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 97px;
  width: 98px;
}

.home-page .overlap-14 {
  height: 194px;
  left: 98px;
  position: absolute;
  top: 0;
  width: 98px;
}

.home-page .post {
  height: 97px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 97px;
  width: 97px;
}

.home-page .rectangle-27 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 205px;
  left: 747px;
  position: absolute;
  top: 175px;
  transform: rotate(-90deg);
  width: 205px;
}

.home-page .rectangle-28 {
  border: 6px solid;
  border-color: #e2e2e2;
  height: 349px;
  left: 0;
  position: absolute;
  top: 0;
  width: 526px;
}

.home-page .vector-7 {
  height: 5px;
  left: 46px;
  position: absolute;
  top: 105px;
  width: 434px;
}

.home-page .element-rd-section {
  height: 710px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.home-page .overlap-15 {
  height: 639px;
  position: relative;
  top: 17px;
}

.home-page .text-wrapper-25 {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 50.7px;
  font-weight: 400;
  height: 91px;
  left: 243px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 990px;
}

.home-page .text-wrapper-26 {
  color: #ffb937;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 32px;
  left: 999px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 219px;
}

.home-page .layer-3 {
  height: 4px;
  left: 503px;
  position: absolute;
  top: 59px;
  width: 697px;
}

.home-page .servios-wrapper {
  height: 535px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 103px;
  width: 1280px;
}

.home-page .servios {
  height: 445px;
  left: 57px;
  overflow: hidden;
  position: relative;
  top: 67px;
  width: 2591px;
}

.home-page .social-media {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 50.7px;
  font-weight: 500;
  height: 122px;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 140px;
}

.home-page .text-wrapper-27 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 19.7px;
  position: absolute;
  text-align: center;
  top: 301px;
  width: 287px;
}

.home-page .text-wrapper-28 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 50.7px;
  font-weight: 500;
  height: 61px;
  left: 419px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
}

.home-page .ignite-your-brand-s {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 355px;
  letter-spacing: 0;
  line-height: 19.7px;
  position: absolute;
  text-align: center;
  top: 301px;
  width: 287px;
}

.home-page .amplify-your-brand-s {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 2289px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 301px;
  width: 237px;
}

.home-page .public-relations {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 62.7px;
  font-weight: 500;
  height: 150px;
  left: 2272px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 125px;
  width: 271px;
}

.home-page .text-wrapper-29 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 50.7px;
  font-weight: 500;
  height: 61px;
  left: 1575px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
}

.home-page .text-wrapper-30 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1481px;
  letter-spacing: 0;
  line-height: 19.7px;
  position: absolute;
  text-align: center;
  top: 301px;
  width: 287px;
}

.home-page .google-meta-ads {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 50.7px;
  font-weight: 500;
  height: 122px;
  left: 711px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 323px;
}

.home-page .text-wrapper-31 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 729px;
  letter-spacing: 0;
  line-height: 19.7px;
  position: absolute;
  text-align: center;
  top: 301px;
  width: 287px;
}

.home-page .text-wrapper-32 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 301px;
  width: 272px;
}

.home-page .text-wrapper-33 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 62.7px;
  font-weight: 500;
  height: 150px;
  left: 1102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 125px;
  width: 311px;
}

.home-page .text-wrapper-34 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1893px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 301px;
  width: 255px;
}

.home-page .text-wrapper-35 {
  color: #e2e2e2;
  font-family: "Futura Md BT-Medium", Helvetica;
  font-size: 62.7px;
  font-weight: 500;
  height: 75px;
  left: 1837px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 163px;
  width: 367px;
}

.home-page .icons {
  height: 101px;
  left: 92px;
  position: absolute;
  top: 0;
  width: 2365px;
}

.home-page .online-advertising {
  height: 101px;
  left: 729px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 101px;
}

.home-page .seo {
  height: 101px;
  left: 1482px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 101px;
}

.home-page .social-media-2 {
  height: 101px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 101px;
}

.home-page .web-design {
  height: 101px;
  left: 357px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 101px;
}

.home-page .copywriter {
  height: 101px;
  left: 1877px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 101px;
}

.home-page .email-marketing {
  height: 101px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 101px;
}

.home-page .handshake {
  height: 101px;
  left: 2265px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 101px;
}

.home-page .element-nd-section {
  height: 717px;
  left: 59px;
  position: absolute;
  top: 679px;
  width: 1186px;
}

.home-page .overlap-16 {
  height: 607px;
  left: 37px;
  position: absolute;
  top: 0;
  width: 785px;
}

.home-page .overlap-17 {
  height: 555px;
  left: 0;
  position: absolute;
  top: 0;
  width: 785px;
}

.home-page .overlap-18 {
  height: 171px;
  left: 0;
  position: absolute;
  top: 0;
  width: 617px;
}

.home-page .identify-with-me {
  color: #e2e2e2;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 50.7px;
  font-weight: 400;
  height: 163px;
  left: 0;
  letter-spacing: 0;
  line-height: 50.7px;
  position: absolute;
  top: 0;
  width: 617px;
}

.home-page .text-wrapper-36 {
  line-height: 38.4px;
}

.home-page .text-wrapper-37 {
  font-size: 105.3px;
  line-height: 100.7px;
}

.home-page .layer-4 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 130px;
  width: 391px;
}

.home-page .text-wrapper-38 {
  color: #ffb337;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 151px;
  white-space: nowrap;
}

.home-page .overlap-19 {
  height: 391px;
  left: 443px;
  position: absolute;
  top: 163px;
  width: 342px;
}

.home-page .me {
  height: 391px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 333px;
}

.home-page .me-2 {
  height: 344px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 325px;
}

.home-page .with-years-deep-in {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 19.3px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 29.1px;
  position: absolute;
  top: 205px;
  width: 379px;
}

.home-page .text-wrapper-39 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 19.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 29.1px;
}

.home-page .text-wrapper-40 {
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 44.7px;
  line-height: 67.2px;
}

.home-page .text-wrapper-41 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 680px;
  white-space: nowrap;
  width: 229px;
}

.home-page .element-clients {
  color: transparent;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 73.3px;
  font-weight: 400;
  left: 947px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 38px;
  width: 190px;
}

.home-page .text-wrapper-42 {
  color: #ffb337;
}

.home-page .text-wrapper-43 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 33.3px;
}

.home-page .element-projects {
  color: transparent;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 73.3px;
  font-weight: 400;
  left: 947px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 193px;
  width: 190px;
}

.home-page .text-wrapper-44 {
  color: #ffcc36;
}

.home-page .element-meeting {
  color: transparent;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 73.3px;
  font-weight: 400;
  left: 932px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 348px;
  width: 205px;
}

.home-page .text-wrapper-45 {
  color: #ffe634;
}

.home-page .element-coffees-by-year {
  color: transparent;
  font-family: "Futura-Bold-Regular", Helvetica;
  font-size: 73.3px;
  font-weight: 400;
  left: 912px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 503px;
  width: 225px;
}

.home-page .text-wrapper-46 {
  color: #ffff33;
}

.home-page .text-wrapper-47 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 8.7px;
}

.home-page .logo-2 {
  height: 20px;
  left: 264px;
  object-fit: cover;
  position: absolute;
  top: 691px;
  width: 16px;
}

.home-page .logo-3 {
  height: 20px;
  left: 524px;
  object-fit: cover;
  position: absolute;
  top: 691px;
  width: 16px;
}

.home-page .logo-4 {
  height: 20px;
  left: 738px;
  object-fit: cover;
  position: absolute;
  top: 691px;
  width: 16px;
}

.home-page .logo-5 {
  height: 20px;
  left: 962px;
  object-fit: cover;
  position: absolute;
  top: 691px;
  width: 16px;
}

.home-page .text-wrapper-48 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 315px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 680px;
  white-space: nowrap;
  width: 173px;
}

.home-page .text-wrapper-49 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 575px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 680px;
  white-space: nowrap;
  width: 127px;
}

.home-page .text-wrapper-50 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 789px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 680px;
  white-space: nowrap;
  width: 137px;
}

.home-page .text-wrapper-51 {
  color: #e2e2e2;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 33.3px;
  font-weight: 400;
  left: 1013px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 680px;
  white-space: nowrap;
  width: 149px;
}

.home-page .overlap-20 {
  background-image: url(../../../static/img/1st-section.png);
  background-size: 100% 100%;
  height: 667px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.home-page .about-instance {
  height: 22px !important;
  left: 696px !important;
  position: absolute !important;
  top: 31px !important;
  width: 59px !important;
}

.home-page .design-component-instance-node-6 {
  font-size: 22px !important;
  height: 22px !important;
  left: -1px !important;
}

.home-page .services-instance {
  height: 22px !important;
  left: 807px !important;
  position: absolute !important;
  top: 31px !important;
  width: 82px !important;
}

.home-page .services-2 {
  font-size: 22px !important;
  height: 22px !important;
}

.home-page .portfolio-instance {
  height: 22px !important;
  left: 941px !important;
  position: absolute !important;
  top: 31px !important;
  width: 81px !important;
}

.home-page .blog-instance {
  height: 22px !important;
  left: 1073px !important;
  position: absolute !important;
  top: 31px !important;
  width: 45px !important;
}

.home-page .blog-2 {
  font-size: 22px !important;
  height: 22px !important;
  left: -11px !important;
}

.home-page .contact-instance {
  height: 22px !important;
  left: 1170px !important;
  position: absolute !important;
  top: 31px !important;
  width: 75px !important;
}

.home-page .top-instance {
  display: flex !important;
  gap: 6.67px !important;
  height: 94px !important;
  left: 1194px !important;
  padding: 20px 13.33px !important;
  position: fixed !important;
  top: 560px !important;
  width: 81px !important;
}

.home-page .top-2 {
  box-shadow: 2px 2px 3.33px #ffb33726 !important;
  height: 54px !important;
  width: 56px !important;
}

.home-page .top-3 {
  border-radius: 27px !important;
  height: 54px !important;
  width: 54px !important;
}

.home-page .top-4 {
  font-size: 12.7px !important;
  height: 18px !important;
  left: 9px !important;
  top: 30px !important;
  width: 36px !important;
}

.home-page .top-5 {
  height: 14px !important;
  left: 27px !important;
  top: 10px !important;
  width: 1px !important;
}
